/* src/index.css */

/* Estilo general de la aplicación */
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #f9f9f9; /* Color de fondo suave */
    color: #000; /* Color del texto */
  }
  
  .app {
    padding: 20px;
  }
  
  /* Estilo de AppBar */
  .app-bar {
    background-color: #ffebcd; /* Color pastel */
    border-radius: 8px; /* Bordes redondeados */
    margin: 0;
    padding: 20px;
  }
  
  /* Estilo de inputs */
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
  }
  
  /* Estilo de botones */
  button {
    background-color: #98fb98; /* Color pastel */
    color: #000;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #90ee90;
  }
  
  /* Estilo de la nota */
  .note {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 10px 0;
  }
  
  /* Botón agregar nota en la esquina inferior derecha */
  .add-note-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #98fb98;
    color: #000;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .add-note-button:hover {
    background-color: #90ee90;
  }
  
  /* Modal de confirmación */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .confirm-button {
    background-color: #ff6f61;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #ccc;
    color: #000;
  }
  